/*@font-face {
  font-family: mfont;
  src: url(font.ttf);
}*/

* {
  box-sizing: border-box;
     -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE 10+ */
    user-select: none;         /* Standard syntax */
    /*font-family: mfont;*/
    font-weight: 500;

      font-family: "Google Sans Flex", sans-serif;
      font-optical-sizing: auto;
      /*font-weight: <weight>;*/
      font-style: normal;
      font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "ROND" 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
  margin: 20px auto; /* space from the top */
  padding: 10px;
}

button {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
    background-color: #8A8A8A;
  transition: background-color 0.3s;
  color: white;
}

.folder {
    background-color: #575757;
}

.image_ {
    background-color: #f96161;
}

.a_es { background-color: #ff595e; }
.b_es { background-color: #fe7116; }
.c_es { background-color: #8ac926; }
.d_es { background-color: #1982c4; }
.e_es { background-color: #D100D1; }
.f_es { background-color: #800080; }
.g_es { background-color: #2c002c; }

.a_eer { background-color: #af070c; }
.b_eer { background-color: #ffca3a; }
.c_eer { background-color: #8ac926; }
.d_eer { background-color: #52a675; }
.e_eer { background-color: #D100D1; }
.f_eer { background-color: #800080; }
.g_eer { background-color: #2c002c; }

button:hover {
  background-color: #3890f5;
}
/*
Mobile-specific styles
@media (max-width: 900px) {
    button {
        padding: 24px;
        font-size: 24px;
    }
}

Extra small phones
@media (max-width: 400px) {
    button {
        padding: 28px;
        font-size: 26px;
    }

}*/

